/*------------------------------------*\
  #FORGOT-PASSWORD SCREEN
\*------------------------------------*/

.ai-forgot-password {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @at-root #{&}__content {
    padding: 1rem;
    max-width: 400px;
    width: 100%;
  }

  @at-root #{&}__content-btn-send-email {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }

  @at-root #{&}__btn-send-email {
    width: 200px;
  }
}